/* Genel ayarlar */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

/* Navigasyon Çubuğu */
nav {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

nav h1 {
    font-size: 1.8em;
    margin: 0;
    letter-spacing: 1.5px;
    color: #ffcc00;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ffcc00;
    color: #121212;
}

/* Ana İçerik */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Başlıklar */
h2 {
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Paragraflar */
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #b0b0b0;
}

/* Profil resmi */
.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Yetenekler listesi */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #2a2a2a;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    color: #b0b0b0;
}

ul li:hover {
    background-color: #ffcc00;
    color: #121212;
}

/* Butonlar */
button {
    background-color: #ffcc00;
    color: #121212;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6b800;
}

/* Footer */
footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Harita için */
.map {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive ayarları */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        margin: 10px 0;
    }
    main {
        padding: 20px;
    }
}



.profile-picture {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}